body {
    font-family: Arial, sans-serif; /* fonte */
    display: flex; /* usa o FlexBox para exibir o conteúdo */
    justify-content: center; /* centraliza na horizontal */
    height: 100vh; /* altura da página é todo o conteúdo dela */
    align-items: center; /* centraliza na vertical */
    background-color: #8a6f5a;
}
.container {
    background-color: white;
    color: #30503a;
    padding: 20px; /* espaçamento interno */
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   box-shadow: 4px 4px  rgba(0, 0, 0, 0.3);
}

#imagem{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

h2{
    margin-bottom: 10px;
}

p {
    padding-top: 0px;
    margin-top: 0%;
    margin-bottom: 19%;
}

#botao{
    border-radius: 15px;
    border: 0;
    background-color: #30503a;
    height: 30px;
    width: 120px;
    color: #fff;
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#botao:hover{
    background-color: #ca7474;
}